/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "MullerDOE";
  src: url("fonts/MullerDOE-Regular.woff");
}

@font-face {
  font-family: "MullerDOE-Bold";
  src: url("fonts/MullerDOE-Bold.woff");
}